[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic-settings = "*"
fastapi = "*"
uvicorn = "*"
psycopg2-binary = "*"
sqlalchemy = "*"
alembic = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.13"
